/* style.css */

/* Resetting default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Styling header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Styling sections */
section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Styling project boxes */
.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
}

/* Styling footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
