/* style.css */

/* Styling project boxes */
.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center; /* Menengahkan teks di dalam .project */
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Mengatur sudut gambar menjadi lebih bundar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan saat hover */
}

.project h3 {
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}

.project p {
    color: #666;
}
